#charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 25px;
}
#charts > div {
  box-sizing: border-box;
  width: 100%;
  height: 450px;
  margin-bottom: 25px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
